
a {
    color: cornflowerblue;

}

a:visited {
    color: #8ba7d0;
}


.buttonsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    :hover {
        cursor: pointer;
        background: #352c5b;
    }

    :active {
        background: #413b5b;
    }

}

button {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 0.5rem;

}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.postContainer {
    background: #2b2254;
    color: #fff;
    max-width: 900px;
    width: 90%;
    max-height: 90vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 12px;
    overflow: hidden;
}

.photoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-self: start;
}

.propertiesContainer {
    padding: 0.5rem;
    overflow-y: auto;
    justify-self: end;
    justify-content: end;
}

.propertiesList {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    padding: 0;
}

.keywordsList {
    list-style: square;
}

.propertiesItem {
    margin: 0.5rem;
}

.itemName {
    font-weight: bold;
    display: inline-block;
}

.suspendMessage {
    color: black;
    background-color: #fff7ed;
    position: absolute;
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.5rem;
}
