.login-page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f0f4f8;
  padding-top: 5%;
  height: calc(100vh - 60px);

.login-box {
  background-color: white;
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 800px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-box p {
  color: #666;
  margin-bottom: 50px;
}

.auth-button {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 4px;
  background-color: #6a8aab;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 25px;
  text-align: center;
}

.auth-button:hover {
  background-color: #5a7a9b;
}
